@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=UnifrakturCook:700);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+English:400,400italic);

html,
body {
	min-height: 100%;
	height: 100%;
	-webkit-text-stroke: 0.25px /* hack to fix ugly chrome fonts */
}

html,
body,
div {
	margin: 0px;
	padding: 0px;
	background-color: #111;
}

.interface {
	width: 300px;
	height: 100%;
	background-color: #333;	
	float: left;
	position: relative;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	
	background: #333;
	background: -moz-linear-gradient(left, #333 0%, #000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333), color-stop(100%,#000));
	background: -webkit-linear-gradient(left, #333 0%,#000 100%);
	background: -o-linear-gradient(left, #333 0%,#000 100%);
	background: -ms-linear-gradient(left, #333 0%,#000 100%);
	background: linear-gradient(to right, #333 0%,#000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#000',GradientType=1 );
}


#logo {
	padding:10px 20px;
	color: #999;
	background-color: #111;	
	font-weight: 700;
	font-family: 'UnifrakturCook', cursive;
	font-size: 32px;
	border-bottom: 2px #666 solid;
}

#RotDisplay {
	margin-left:300px;
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	display: block;
}

#logo {
	display: none;
}

#poem {
	display: none;
}

#poem {
	color: #DEDEDE;
	background-color: #444;	
	padding: 20px;
	font-family: 'IM Fell English', serif;
	font-size: 16px;
}

#poem ul {
	display: inline-block;
	margin: 0px 20px 20px 0px;
	/* border: 1px #333 dotted; */
	min-width: 250px;
	padding:10px;
}

#poem ul li {
	margin-left: 0px;
	list-style-type: none;
	line-height: 32px;
}

#poem ul li:nth-child(2) {
	margin-left: 10px;
}
#poem ul li:nth-child(3) {
	margin-left: 20px;
}
#poem ul li:nth-child(4) {
	font-size: 20px;
	margin-left: 80px;
	line-height: 40px;
}
#poem #bib {
	font-size: 14px;
	margin: 10px;
}


@media only screen and (max-width: 600px) {
	.interface {
		width: 100%;
		height: 40%;
		
		background: #333333;
		background: -moz-linear-gradient(top,  #333333 0%, #000000 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000));
		background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%);
		background: -o-linear-gradient(top,  #333333 0%,#000000 100%);
		background: -ms-linear-gradient(top,  #333333 0%,#000000 100%);
		background: linear-gradient(to bottom,  #333333 0%,#000000 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 );
	}
	
	#RotDisplay {
		margin-left:0px;
		height: 60%;
		position: relative;
		display: inline-block;
	}
}